p{
    margin: 10px;
}

h2{
    margin: 10px;
}

h1{
    margin: 10px;
    text-align: center;
}

.pageContent{
    font-family: "lato", sans-serif;
    color: white;
}

body{
    background-color: #474056;
}