
:root {
    --direction: ltr;
    --direction-alt: rtl;
}
 
/* Alternate direction */
.article:nth-child(even) {
    direction: var(--direction-alt);
}
  
/* Revert direction on child elements */
article > * {
    direction: var(--direction);
}
  
/* Other page styling */
body {
    --space-xs: 0.5rem;
    --space-sm: 1rem;
    --space-md: 2rem;
    --space-lg: 6rem;
  
    font-family: "Palatino", serif;
    font-size: 1.25rem;
    line-height: 1.5;
}
h1{
    text-align: center;
}

a {
    color: #474056;
}

.article {
    display: grid;
    align-items: start;
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 300px), 1fr));
    gap: var(--space-md);
}
  
.section-wrap {
    margin-inline-start: auto;
    margin-inline-end: auto;
    padding-inline-start: var(--space-md);
    padding-inline-end: var(--space-md);
    max-inline-size: 1200px;
}
  
.header {
    margin-block-end: var(--space-lg);
    padding-block-start: var(--space-sm);
    padding-block-end: var(--space-sm);
    background: papayawhip;
    font-size: 1rem;
}
  
.main > * + * {
    margin-block-start: var(--space-lg);
    margin-block-end: var(--space-lg);
}
  
.content > * + * {
    margin-block-start: var(--space-sm);
}
  
.headline {
    font-weight: bold;
    font-size: clamp(1.75rem, 4vw, 2.5rem);
    line-height: 1.25;
    letter-spacing: -0.01em;
}
  
.image-wrap {
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
    aspect-ratio: 16 / 9;
    inline-size: 100%;
    border-radius: 1rem;
}
  
.image-wrap img {
    position: absolute;
    object-fit: cover;
    inline-size: 100%;
}

@supports not (aspect-ratio: 16 / 9) {
    .image-wrap::before {
      float: left;
      padding-top: 56.25%;
      content: "";
    }
  
.image-wrap::after {
      display: block;
      content: "";
      clear: both;
    }
}    
 /* Extra small devices (phones, 600px and down) */
 @media only screen and (max-width: 600px) {
    .FAQ p  {padding: 20px;}

 }